# Ignore from homework 2
homework_2/.vscode
homework_2/igg_image/build
homework_2/igg_image/bin
homework_2/igg_image/.vscode

# Ignore from homework 3
homework_3/.vscode
homework_3/igg_image/build
homework_3/igg_image/bin
